.stock-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.stock-form {
  margin-top: 20px;
}

#stock-form-interval:hover {
  cursor: pointer;
}

#stock-form-ticker-symbol {
  width: 200px;
  font-size: 16px;
}

#stock-form-interval {
  width: 200px;
  font-size: 16px;
}

#stock-form-submit {
  font-size: 14px;
}